* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
body {
  min-width: 357px;
  overflow-x: hidden;

  font-size: 12px;
  color: #333333;
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 130%;
}

#main{
  background: #f9f9f9;
  padding: 5px;
  position: relative;
}

#movie-list.media-list{
  margin-left: 29px;
}

#movie-list .media{
  height: 250px;
}

#movie-list .media .media-body{
  height: 220px;
}

#movie-list .span5{
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
